
%h2 #{@bus.name}

-@revs.each do |rev|
    %big
        %strong #{rev.user.name}: 
        #{rev.create_date.strftime("%m/%d/%Y")}:
        
    -for star in 1..rev.stars.to_i
        %img{:src => "/Star-.svg.png", :style => "width:20px"}
        
    -unless rev.description.blank?
        <br />
        #{rev.description}
        
    <br />
    <br />
    