
%h2 #{@bus.name}

-@revs.each do |rev|
    %h4 
        %strong #{rev.user_stub.username}: 
        #{rev.date}:
        
    -for star in 1..rev.stars.to_i
        %img{:src => "/images/Star.svg.png", :style => "width:50px"}
        
    -unless rev.description.blank?
        <br />
        %p #{rev.description}
        
    <br />
    <br />
        
    