%h2 WELCOME TO BUSINESS REVIEW PLATFORM!




%p= link_to("REVIEWER - LOG IN", user_login_path, class: "btn btn-primary btn-lg")
%p= link_to("REVIEWER - SIGN UP", new_user_path,  class: "btn btn-primary btn-lg")


%p= link_to("BUSINESS USER - LOG IN", business_login_path,  class: "btn btn-primary btn-lg")
%p= link_to("BUSINESS USER - SIGN UP", new_business_path,  class: "btn btn-primary btn-lg")
