%h1 New review
%table#places
= p session[:user]
= form_tag reviews_path do
    %select{:id => "Business"}
        - @places.each do |place|
            %option{:value => "#{place.id}"}= place.name
            
    %br
            
    %input{:type => "radio", :name => "stars", :value => 1} One Star
    %input{:type => "radio", :name => "stars", :value => 2} Two Stars
    %input{:type => "radio", :name => "stars", :value => 3} Three Stars
    %input{:type => "radio", :name => "stars", :value => 4} Four Stars
    %input{:type => "radio", :name => "stars", :value => 5} Five Stars
    
    
    = submit_tag 'Create Account'
    
            